@model JobPortal.Application.ViewModels.JobvM.JobDetailsViewModel
@{
   
}
@{
    ViewData["Title"] = "DetailsForUser";
}

<h1>DetailsForUser</h1>

<div>
    <h4>JobDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowestSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowestSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        
    </dl>
    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li> #@tag.Name </li>
        }
    </ul>

    @{
        if (ViewBag.IsCompany)
        {
            @Html.ActionLink("Lista Aplikacji", "ApplicationAtJob", "Application", new { id = Model.Id });
        }
        else
        {
            if (!ViewBag.AlreadyApplied)
            {
                @Html.ActionLink("Aplikuj", "Apply", new {id = Model.Id});
            }
        }

        
    }

    @if (ViewBag.AlreadyApplied)
    {
        <div> Juz zaaplikowano </div>
    }

   

   @*Tutaj Dodac widocznosc tylko dla firmy a u gory dla usera*@
 
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
