@using JobPortal.Application.ViewModels.JobvM;
@model JobPortal.Application.ViewModels.JobVM.QueryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2-multi').select2();
        });
    </script>
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

</head>

<h1 class="text-center mt-4 mb-4" style="color: #007bff;">Oferty Pracy</h1>

<form asp-action="Index" asp-controller="Job" method="post" class="container">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="SearchString" class="control-label">Nazwa</label>
            <input asp-for="SearchString" class="form-control" />
            <span asp-validation-for="SearchString" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="LocationSearchString" class="control-label">Lokalizacja</label>
            <input asp-for="LocationSearchString" class="form-control" />
            <span asp-validation-for="LocationSearchString" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="CategoryName" class="control-label">Kategoria</label>
            <select asp-for="CategoryName" class="form-control" asp-items="ViewBag.Categories"></select>
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="TagNames" class="control-label">Tagi</label>
            <select asp-for="TagNames" class="form-control select2-multi" asp-items="ViewBag.Tags" multiple></select>

            <span asp-validation-for="TagNames" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <input type="submit" value="Wyszukaj" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="container mt-5">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
             @*   <th>Id</th>*@
                <th>Nazwa Oferty</th>
                <th>Lokalizacja</th>
                <th>Nazwa Firmy</th>
                <th>Kategoria</th>
                <th>Minimalna pensja</th>
                <th>Maksymalna pensja</th>
                <th>Tagi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<JobForListViewModel>)ViewBag.Jobs.Jobs)
            {
                <tr>
                @*    <td>@Html.DisplayFor(modelItem => item.Id)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LowestSalary)</td>
                    <td>@Html.DisplayFor(modelItem => item.HighestSalary)</td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <div>@tag.Name</div>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Szczegóły oferty", "DetailsForUser", new { id=item.Id }, new { @class = "btn btn-info" }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
