@model JobPortal.Application.ViewModels.JobVM.ListOfTagsForListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zarządzanie Tagami</h1>

<p>
  
    <a asp-action="AddTag" class ="btn-primary">Dodaj Tag</a>
 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwa Tagu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tags) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
