@model JobPortal.Application.ViewModels.ApplicationVm.ApplicationDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły Aplikacji";
}

<div class="container py-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card border-0 shadow">
        <div class="card-body">
            <h4 class="card-title">Aplikant</h4>
            <hr class="my-4" />

            <dl class="row">
                <dt class="col-sm-2">Data Aplikacji</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.ApplicationDate)</dd>

                <dt class="col-sm-2">Imię</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.UserDetails.Name)</dd>

                <dt class="col-sm-2">Nazwisko</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.UserDetails.Surname)</dd>

                <dt class="col-sm-2">E-mail</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.UserDetails.Email)</dd>

                <dt class="col-sm-2">Numer Telefonu</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.UserDetails.PhoneNumber)</dd>

                <dt class="col-sm-2">Adres</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.UserDetails.Address)</dd>

                <dt class="col-sm-2">Opis</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.UserDetails.Description)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        @Html.ActionLink("Pobierz Plik CV dla tej aplikacji", "DownloadCV", new { UserId = Model.UserDetails.Id, JobId = Model.JobId}, new { @class = "btn btn-primary" })
        @Html.ActionLink("Wyświetl Plik CV dla tej aplikacji", "OpenCV", new { UserId = Model.UserDetails.Id, JobId = Model.JobId}, new { @class = "btn btn-info" })
    </div>
</div>
